---
// Footer: logo bottom-left only (Instagram moved to MRT station)
---
<footer class="fixed bottom-0 left-0 z-[9998] px-4 md:px-6 py-3 pointer-events-none">
  <a href="/" class="pointer-events-auto inline-block" data-clickable>
    <img src="/images/logo.png" alt="WILDFLOWER" class="h-5 md:h-6 opacity-50 hover:opacity-100 transition-opacity duration-500" />
  </a>
</footer>
